.sceneBody {
  display: flex;
  background: aqua;
}

.canvas-wrapper {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  min-height: 100vh;

  //overflow: hidden;
  //flex: 1 1;
}


