.sceneBody {
  display: flex;
  background: aqua;
}

.canvas-wrapper {
  position: absolute;
  z-index: 1;
  height: 100vh;
  min-height: 100vh;
  //position: absolute;
  //overflow: hidden;
  //flex: 1 1;
}


